@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6; /* Fondo oscuro */
    color: yellowgreen; /* Texto claro */
  }
  .text-shadow-md {
    text-shadow: 1px 1px 2px #4a92de;
  }